
<div class="container text-center">


    <h2>Email Confirmed</h2>
    <div>
        <p>
            Thank you for confirming your email. Please go to the login page. <br /><br />@Html.ActionLink("Login Page", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
        </p>
    </div>
</div>
