@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="container">
    <h1>@ViewBag.Title.</h1>

    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
