@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="title container">
    <h1>@ViewBag.Title.</h1>

    <div>
        <p>
            Your password has been reset. Please go to the login page. <br /><br />@Html.ActionLink("Login Page", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "btn btn-primary" })
        </p>
    </div>
</div>
