body, h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Garamond', sans-serif;    
}

/*applies to any with this class name*/
.smoothEdges{
    border-radius: 3%;
}


/*Main Navbar*/
#mainNav{
    padding: 2% 5%;   
}

#mainNav img{
    position:relative;
    left: 0;
    height: 8vh;    
}
#mainNav .navbar-nav>li.nav-item>a{
    font-size: 100%;
    text-decoration: none;
}

/*Main Section Page*/
#mainSectionHeading h1, #mainSectionHeading span {
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-family: 'Garamond', sans-serif;
}

/*Home Page */
#homePageRow{
       
}

#homePageRow h2:hover{
    color: dodgerblue;
}

#homePagePostsWrapper{
    
}
.homePageColumns {
    /*right: 8%;*/    
    margin-bottom: 2%;
    padding-top: 2%;
    position: relative;
}

#homePageButton {
    background-color: dodgerblue;
    position: relative;
    margin-bottom: 2%;
    border-radius: 3%;
    margin: auto 0;
    left: 45%;
}

#homePageButton a {
    color: #FFFFFF;
    text-decoration: none;
}

/*Home About View*/
#aboutPage h2{
    text-transform: uppercase;
    position: relative;
    left: 35%;
    padding-bottom: 2%;
}

#aboutPage h4{
    text-align: justify;
    padding-bottom: 2%;
}

/*Blog Index View*/
#blogIndexPageTitleAndSearch h2{
    position: relative;
    left: 45%;    
}

#blogIndexPageTitleAndSearch input {
    position: absolute;
    bottom: 27%;
    width: 9%;
    right: 20%;
    height: 4.5%;
}

#tableBody{
    width: 50%;
    text-align: justify;
}

#blogIndexPageTitleAndSearch button {
    position: absolute;
    width: 7%;
    height: 4.65%;
    right: 12%;
    line-height: 5%;
    border-radius: 5%;
    bottom: 27%;
}

#createButton{
    position: absolute;
    left: 8%;
    border-radius: 5%;
    text-decoration: none;
    bottom: 27%;   
    height: 4%;
    padding-top: 1.15%;
    padding-bottom: 1.15%;
    line-height: 5%;
    width: 7%;
}
#blogIndexImage {
    width: 80%;
    border-radius: 2%;
    margin-bottom: 3%;
    
}



#blogIndexTable{    
    position: relative;
    width: 90%;    
    margin: 5% auto 0 auto;
    border: hidden;
}

.hidden {
    display: none;
}

/*Contact Me Page*/
#contactMeContainer, #contactMeContainer hr{
    width: 50%;
}

    #contactMeContainer hr {
        position: relative;
        right: 40%;
        width: 20%;
}

#contactMeContainer h4{
    text-transform: uppercase;
    position: relative;
    left: 35%;
}

#contactMeButton{
    border-radius: 5%;
}

/*Blog Details View*/
#detailsMainNav {
    padding: 2% 5%;  
   
}

#detailsMainNav img {
    position: relative;    
    height: 8vh;
}

#detailsMainNav ul {
    position: relative;
    left: 50%;
}

#detailsMainNav .navbar-nav>li.nav-item  {     
   width: 13%;    
}

#detailsMainNav .navbar-nav>li.nav-item>a{
    color: white;    
    font-weight:bold;    
    text-decoration: none;
    text-transform: uppercase;
}
#detailsNavbarResponsive{
    width: 100%;
    position: relative;
    
}
#detailsNavbarResponsive ul{
    width: 100%;    
}

header.masthead{
   background-color: white;
   width: 100%;
}
   
#detailsBackgroundImage {
    height: 50vh;
    width: 100%;
    position: relative;        
}

#detailsBackgroundImageContainer h1, #detailsBackgroundImageContainer h2{
    text-align: center;
}

#detailsBackgroundImageContainer h2 {
    padding-bottom: 2%;
}
#detailsEditButton, #detailsDeleteButton {
    margin-right: 1%;
    width: 10%;
    border-radius: 3%;
}

/*Comments within Blog Details View*/
#commentContainer textarea, #commentContainer button, #commentContainer h3 {
    position: relative;
    left: 60%;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*Comment/Index View*/
#createCommentButton {
    position: absolute;
    right: 2.5%;
    border-radius: 3%;
    text-decoration: none;
    bottom: 35%;
    margin-bottom: 1%;
    height: 4.65%;
    padding-bottom: 2%;
    width: 10%;
}

/*Manage Index View - Change Password*/
#changePasswordButton{
    border-radius: 3%;
}
/*Manage/Change Password*/
#confirmNewPassword{
    border-radius: 3%;
}

/*Login Page*/
#registerButton, #loginButton{
    width: 20%;
}

/*Account/Forgot Password*/
#forgotPasswordEmailLinkButton{
    position: relative;
    right: 1.5%;
}

#forgotPasswordTextBox{
    width: 50%!important;
}


footer {
    background-color: black;
}

#footerCopy{
    color: #FFFFFF;
}

/*Footer Social Icons*/
footer .fab:hover, footer i:hover{
    color: #0080C4;
}

footer{
    margin-top: 3%;
}

/*=======================MEDIA QUERIES=============================*/
/* Extra small devices (phones, 599px and down) */
@media only screen and (max-width: 599px) {
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
    }

    #blogIndexImage {
        width: 100%;
    }

    #homePageButton {
        left: 28%;
    }

    #loginButton, #registerButton, #forgotPasswordButton {
        border-radius: 3%;
        width: 100%;
        margin-bottom: 2%;
    }

    #createButton{
        bottom: 4.75%;
        width: 30%;       
        height: 5.5%;
        line-height: 5%;
        left: 1%;
        padding-top: 5%;
    }

    #blogIndexPageTitleAndSearch button{
        bottom: 5%;
        right: 1%;
        width: 30%;
    }

    #blogIndexPageTitleAndSearch input {
        bottom: 0; 
        width: 30%;
        right: 1%;    
    }

    #blogIndexPageTitleAndSearch h2 {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px to 767) */
@media only screen and (min-width: 600px) and (max-width: 767px){
    #homePageButton {
        left: 38%;
    }

    h1 {
      font-size: 120%;
    }
    h2 {
        font-size: 110%;
    }
    h3 {
        font-size: 100%;
    }
    h4 {
        font-size: 90%;
    }
    h5 {
        font-size: 80%;
    }
    h6 {
        font-size: 70%;
    }

    #blogIndexImage {
        width: 100%;
    }

    #loginButton, #registerButton, #forgotPasswordButton {
        border-radius: 3%;
        width: 100%;
        margin-bottom: 2%;
    }
    #createButton {
        bottom: 30%;
        width: 20%;
        height: 4.5%;
        line-height: 4.5%;
        left: 1%;
        padding: 3%;
    }

    #blogIndexPageTitleAndSearch button {
        bottom: 30%;
        right: 1%;
        width: 20%;
    }

    #blogIndexPageTitleAndSearch input {
        bottom: 25%;
        width: 20%;
        right: 1%;
    }

}
        
        
        
/* Medium devices (landscape tablets, 768px to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    #homePageButton {
        left: 38%;
    }

    h1 {
        font-size: 120%;
    }

    h2 {
        font-size: 110%;
    }

    h3 {
        font-size: 100%;
    }

    h4 {
        font-size: 90%;
    }

    h5 {
        font-size: 80%;
    }

    h6 {
        font-size: 70%;
    }

    #blogIndexImage {
        width: 100%;
    }

    #loginButton, #registerButton, #forgotPasswordButton {
        border-radius: 3%;
        width: 100%;
        margin-bottom: 2%;
    }
    #createButton {
        bottom: 30%;
        width: 20%;
        height: 4.5%;
        line-height: 4.5%;
        left: 1%;
        padding: 3%;
    }

    #blogIndexPageTitleAndSearch button {
        bottom: 30%;
        right: 1%;
        width: 20%;
    }

    #blogIndexPageTitleAndSearch input {
        bottom: 25%;
        width: 20%;
        right: 1%;
    }

}
        
        
        
/* Large devices (laptops/desktops, 992px to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px){
    #homePageButton {
        left: 38%;
    }

    h1 {
        font-size: 120%;
    }

    h2 {
        font-size: 110%;
    }

    h3 {
        font-size: 100%;
    }

    h4 {
        font-size: 90%;
    }

    h5 {
        font-size: 80%;
    }

    h6 {
        font-size: 70%;
    }

    #blogIndexImage {
        width: 100%;
    }

    #loginButton, #registerButton, #forgotPasswordButton {
        border-radius: 3%;
        width: 100%;
        margin-bottom: 2%;
    }

    #mainNav img{
        width: 70%;
        height: 70%;
    }
    #mainNav .navbar-nav > li.nav-item > a{
        font-size: 100%;
    }

    #createButton {
        bottom: 48%;
        width: 20%;
        height: 4.5%;
        line-height: 4.5%;
        left: 1%;
        padding: 3%;
    }

    #blogIndexPageTitleAndSearch button {
        bottom: 48%;
        right: 1%;
        width: 20%;
    }

    #blogIndexPageTitleAndSearch input {
        bottom: 43%;
        width: 20%;
        right: 1%;
    }

}
       
        
        
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}