@{
    ViewBag.Title = "About this project";
}

<div class="container" id="aboutPage">
    <div class="row">
        <div class="col-8 offset-2 text-center">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>
            <p>
                This MVC Blog Post project  represents a simple yet complete introduction to the model view controller design pattern of web development. 
                This  architectural pattern separates an application into three main groups of components: Models, Views, and Controllers; thus, achieving the 
                separation of concerns principle. Using this pattern, requests are routed to a Controller which is responsible for working with the Model to perform 
                user actions and/or retrieve results of queries. The Controller chooses the View to display to the user, and provides it with any Model data it
                requires. <br /><br />
                
                The blog project itself had a straight forward goal:  create a program with create, read, update, delete (crud) capabilities and use MVC as the
                design pattern.  The blog fulfilled those requirements, and as a student of software development the process was extremely educational.  What a
                great way to continue our bootcamp style of learning ASP.Net MVC.
            </p>
        </div>
    </div>
</div>
