@using Blog.Models;
@model IEnumerable<BlogPost>
@*@model IEnumerable<Blog.Models.BlogPost>*@

<!-- Main Content -->
<section id="myViewAllBlogPostSection">
    <div class="container-fluid text-center myViewAllBlogPostGrid">

        <table>
            @foreach (var item in Model.Take(3))
            {
                <tr>
                    <div class="myViewAllBlogPostSubGrid">

                        <div id="myViewAllBlogPostSubGridImage">

                            @if (item.MediaPath != null)
                            {
                                <a href=@Url.Action("Details", "BlogPosts", new { slug = item.Slug })>
                                    <img class="img-responsive" id="blogIndexImage" src="@item.MediaPath" alt="photo" />
                                </a>
                            }
                        </div>

                        <div id="myViewAllBlogPostSubGridTitle">
                            @Html.DisplayFor(modelItem => item.Title)
                        </div>

                        <p id="myViewAllBlogPostSubGridCreated" class="post-meta">
                            posted by Richard Knott on @item.Created.ToString("MM/dd/yyyy")
                        </p>

                    </div>

                </tr>


            }


        </table>

        <button class="btn btn-primary" id="homePageButton">
            @Html.ActionLink("All Posts", "Index", "BlogPosts", null, new { @class = "colorBlack", id = "homePageLink" }) &rarr;
        </button>

    </div>

</section>
